{"openapi":"3.0.1","info":{"title":"AWSEd API","description":"API for AWS Educate","version":"2023.3.1-RC6"},"servers":[{"url":"http://awsed.ucsd.edu","description":"Generated server url"}],"tags":[{"name":"/users"},{"name":"/enrollments"},{"name":"/pool-roots"},{"name":"/user-launch-profiles","description":"User launch profiles"},{"name":"/course-environments","description":"Course Environments API"},{"name":"/aws-credentials","description":"AWS credentials"},{"name":"/courses","description":"Course API"},{"name":"/environments"},{"name":"/pools"},{"name":"/teams"}],"paths":{"/api/enrollments":{"get":{"tags":["/environments","/enrollments"],"summary":"List enrollments for environment","operationId":"listEnrollments_1","parameters":[{"name":"form","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListEnrollmentsForm"}},{"name":"username","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnvironmentEnrollmentResult"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnrollmentJson"}}}}}}},"post":{"tags":["/enrollments"],"summary":"importEnrollments","operationId":"uploadEnrollments","parameters":[{"name":"dryRun","in":"query","description":"dryRun","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"CSV"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportRosterResultJson"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportRosterResultJson"}}}}}}},"/api/courses":{"get":{"tags":["/courses"],"summary":"List active courses","operationId":"listCourses_1","parameters":[{"name":"tag","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCoursesResultJson"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCoursesResultJson"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCoursesResultJson"}}}}}},"post":{"tags":["/courses"],"summary":"Create a course","operationId":"createCourse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseRequestJson"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/courses/{course}/environments":{"post":{"tags":["/course-environments"],"summary":"Associate a course with an environment","operationId":"associateCourseEnvironment","parameters":[{"name":"course","in":"path","description":"Course Name","required":true,"schema":{"type":"string"},"example":"CSE100_WI20_A00"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociateCourseEnvironmentRequestBody"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/aws-credentials":{"post":{"tags":["/aws-credentials"],"summary":"Generate AWS credentials","operationId":"xyz","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Args"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/courses/{course}":{"get":{"tags":["/courses"],"summary":"Describe a course","operationId":"describeCourse","parameters":[{"name":"course","in":"path","description":"Course Name","required":true,"schema":{"type":"string"},"example":"CSE100_WI20_A00"}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseResult"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseResult"}}}}}},"patch":{"tags":["/courses"],"summary":"Update a course","operationId":"updateCourse","parameters":[{"name":"course","in":"path","description":"Original course name","required":true,"schema":{"type":"string"},"example":"CSE100_WI20_A00"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseRequestJson"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/courses/{course}/environments/{environment}":{"get":{"tags":["/course-environments"],"summary":"Describe a course environment","operationId":"describeCourseEnvironment","parameters":[{"name":"course","in":"path","description":"Course Name","required":true,"schema":{"type":"string"},"example":"CSE100_WI20_A00"},{"name":"environment","in":"path","description":"Environment Name","required":true,"schema":{"type":"string"},"example":"ENVIRONMENT_0"}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseEnvironmentResult"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseEnvironmentResult"}}}}}},"patch":{"tags":["/course-environments"],"summary":"Update a course environment","operationId":"modifyCourseEnvironment","parameters":[{"name":"course","in":"path","description":"Course name","required":true,"schema":{"type":"string"},"example":"CSE100_WI20_A00"},{"name":"environment","in":"path","description":"Environment name","required":true,"schema":{"type":"string"},"example":"dsmlp"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyCourseEnvironmentRequestBody"}}},"required":true},"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/users/{username}":{"get":{"tags":["/users"],"summary":"Describe a user by username","operationId":"describeEnvironment","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResultJson"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResultJson"}}}}}}},"/api/user-launch-profiles/{username}":{"get":{"tags":["/user-launch-profiles"],"summary":"List user launch profiles","operationId":"listCourses","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLaunchProfilesResult"}}}}}}},"/api/teams":{"get":{"tags":["/teams"],"summary":"List Teams","operationId":"listTeams","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamsResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamsResult"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamsResult"}}}}}}},"/api/pools/{poolName}":{"get":{"tags":["/pools"],"summary":"List assigned user and team accounts for a pool","operationId":"describeEnvironment_1","parameters":[{"name":"poolName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoolAccountResult"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoolAccountResult"}}}}}}},"/api/pool-roots/{poolRootName}":{"get":{"tags":["/pool-roots"],"summary":"List pools configured under a pool root","operationId":"listPools","parameters":[{"name":"poolRootName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoolsResult"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoolsResult"}}}}}}},"/api/environments/{slug}":{"get":{"tags":["/environments"],"summary":"List enrollments for environment","operationId":"describeEnvironment_2","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentJson"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentJson"}}}}}}},"/api/environments/{slug}/roster":{"get":{"tags":["/environments"],"summary":"List enrollments for environment","operationId":"uploadEnrollments_1","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnvironmentEnrollmentResult"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnvironmentEnrollmentResult"}}}}}}}},"/api/courses/{course}/teams":{"get":{"tags":["/courses"],"summary":"List Teams","operationId":"listTeams_1","parameters":[{"name":"course","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamsResult"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamsResult"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamsResult"}}}}}}},"/api/course-environments":{"get":{"tags":["/course-environments"],"summary":"List course environments","operationId":"listCourseEnvironments","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListCourseEnvironmentsRequestBody"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCourseEnvironmentsResultJson"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCourseEnvironmentsResultJson"}}}}}}}},"components":{"schemas":{"ImportRosterResultJson":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}},"modifications":{"type":"array","items":{"$ref":"#/components/schemas/Modification"}}}},"Modification":{"type":"object","properties":{"type":{"type":"string"},"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"className":{"type":"string"},"uid":{"type":"integer","format":"int32"},"role":{"type":"string"},"add":{"type":"boolean"},"delete":{"type":"boolean"},"modify":{"type":"boolean"},"genApi":{"type":"boolean"}}},"CourseRequestJson":{"type":"object","properties":{"name":{"type":"string"},"studentRole":{"type":"string"},"instructorRole":{"type":"string"},"awsCredentialId":{"type":"string"},"grader":{"type":"string"},"fileSystem":{"type":"string"},"active":{"type":"boolean"},"snowTicket":{"type":"string"},"quarter":{"type":"string"},"subject":{"type":"string"},"courseNumber":{"type":"string"},"instructor":{"type":"string"},"instructorEmail":{"type":"string"}}},"AssociateCourseEnvironmentRequestBody":{"type":"object","properties":{"environment":{"type":"string"},"status":{"type":"string"},"notes":{"type":"string"}}},"Args":{"type":"object","properties":{"course":{"type":"string"},"role":{"type":"string"}}},"ModifyCourseEnvironmentRequestBody":{"type":"object","properties":{"status":{"type":"string"},"notes":{"type":"string"}}},"UserResultJson":{"type":"object","properties":{"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"uid":{"type":"integer","format":"int32"},"enrollments":{"type":"array","items":{"type":"string"}}}},"ApplicationJson":{"type":"object","properties":{"name":{"type":"string"},"image":{"type":"string"},"description":{"type":"string"}}},"Course2Json":{"type":"object","properties":{"name":{"type":"string"},"studentRole":{"type":"string"},"instructorRole":{"type":"string"},"fileSystem":{"type":"string"},"active":{"type":"boolean"},"snowTicket":{"type":"string"},"quarter":{"type":"string"},"subject":{"type":"string"},"courseNumber":{"type":"string"},"instructor":{"type":"string"},"instructorEmail":{"type":"string"}}},"PlayerJson":{"type":"object","properties":{"name":{"type":"string"},"minCpu":{"type":"integer","format":"int32"},"maxCpu":{"type":"integer","format":"int32"},"minMemory":{"type":"integer","format":"int32"},"maxMemory":{"type":"integer","format":"int32"},"gpu":{"type":"integer","format":"int32"}}},"Team2Json":{"type":"object","properties":{"name":{"type":"string"},"gid":{"type":"integer","format":"int32"}}},"UserLaunchProfileJson":{"type":"object","properties":{"name":{"type":"string"},"application":{"$ref":"#/components/schemas/ApplicationJson"},"player":{"$ref":"#/components/schemas/PlayerJson"},"course":{"$ref":"#/components/schemas/Course2Json"},"teams":{"type":"array","items":{"$ref":"#/components/schemas/Team2Json"}}}},"UserLaunchProfilesResult":{"type":"object","properties":{"launchProfiles":{"type":"array","items":{"$ref":"#/components/schemas/UserLaunchProfileJson"}}}},"CourseResult":{"type":"object","properties":{"tags":{"type":"array","items":{"type":"string"}},"enrollments":{"type":"array","items":{"$ref":"#/components/schemas/UserResult"}},"courseId":{"type":"string"},"pool":{"$ref":"#/components/schemas/ImmutablePool"},"active":{"type":"boolean"},"grader":{"$ref":"#/components/schemas/UserResult"},"fileSystem":{"$ref":"#/components/schemas/FileSystemResult"},"snowTicket":{"type":"string"},"quarter":{"type":"string"},"subject":{"type":"string"},"courseNumber":{"type":"string"},"instructor":{"type":"string"},"instructorEmail":{"type":"string"}}},"FileSystemResult":{"type":"object","properties":{"identifier":{"type":"string"},"server":{"type":"string"},"path":{"type":"string"}}},"ImmutablePool":{"type":"object","properties":{"name":{"type":"string"},"poolRootName":{"type":"string"},"rule":{"type":"string"},"ou":{"type":"string"},"courseName":{"type":"string"},"mode":{"type":"string"}}},"TeamResult":{"type":"object","properties":{"teamName":{"type":"string"},"uniqueName":{"type":"string"},"gid":{"type":"integer","format":"int32"},"members":{"type":"array","items":{"$ref":"#/components/schemas/UserResult"}},"course":{"$ref":"#/components/schemas/CourseResult"}}},"TeamsResult":{"type":"object","properties":{"teams":{"type":"array","items":{"$ref":"#/components/schemas/TeamResult"}}}},"UserResult":{"type":"object","properties":{"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"uid":{"type":"integer","format":"int32"},"role":{"type":"string"}}},"PoolAccountJson":{"type":"object","properties":{"accountId":{"type":"string"},"accountName":{"type":"string"},"username":{"type":"string"},"teamName":{"type":"string"}}},"PoolAccountResult":{"type":"object","properties":{"accounts":{"type":"array","items":{"$ref":"#/components/schemas/PoolAccountJson"}}}},"PoolJson":{"type":"object","properties":{"name":{"type":"string"},"root":{"type":"string"},"predicate":{"type":"string"},"ou":{"type":"string"},"courseName":{"type":"string"},"mode":{"type":"string"}}},"PoolsResult":{"type":"object","properties":{"pools":{"type":"array","items":{"$ref":"#/components/schemas/PoolJson"}}}},"EnvironmentJson":{"type":"object","properties":{"volumes":{"type":"array","items":{"$ref":"#/components/schemas/Volume"}}}},"Volume":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"server":{"type":"string"},"path":{"type":"string"},"accessMode":{"type":"string"},"pvcName":{"type":"string"}}},"EnvironmentEnrollmentResult":{"type":"object","properties":{"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"uid":{"type":"integer","format":"int32"},"token":{"type":"string"}}},"ListEnrollmentsForm":{"type":"object","properties":{"courseSlugs":{"type":"array","items":{"type":"string"}},"username":{"type":"string"},"courseSlug":{"type":"array","writeOnly":true,"items":{"type":"string"}}}},"EnrollmentJson":{"type":"object","properties":{"username":{"type":"string"},"course":{"type":"string"}}},"CourseJson":{"type":"object","properties":{"courseId":{"type":"string"}}},"ListCoursesResultJson":{"type":"object","properties":{"courses":{"type":"array","items":{"$ref":"#/components/schemas/CourseJson"}}}},"CourseEnvironmentResult":{"type":"object","properties":{"name":{"type":"string"},"environment":{"type":"string"},"status":{"type":"string","enum":["PENDING","APPROVED","READY","INACTIVE","CANCELLED"]},"notes":{"type":"string"},"courseName":{"type":"string","writeOnly":true},"environmentSlug":{"type":"string","writeOnly":true}}},"Authentication":{"type":"object","properties":{"ta":{"type":"boolean"},"username":{"type":"string"},"admin":{"type":"boolean"},"student":{"type":"boolean"}}},"ListCourseEnvironmentsRequestBody":{"type":"object","properties":{"status":{"type":"string"},"subject":{"type":"string"},"term":{"type":"string"},"statusFilter":{"type":"string"},"subjectFilter":{"type":"string"},"termFilter":{"type":"string"},"authentication":{"$ref":"#/components/schemas/Authentication"}}},"ListCourseEnvironmentJson":{"type":"object","properties":{"environment":{"type":"string"},"status":{"type":"string"},"notes":{"type":"string"}}},"ListCourseEnvironmentsResultJson":{"type":"object","properties":{"environments":{"type":"array","items":{"$ref":"#/components/schemas/ListCourseEnvironmentJson"}}}}}}}
